
## Maven artifacts

| Task | URL | Status | Notes |
| ---- | --- | ------ | ----- |
| jenkins-stage | [x](https://jenkins.opencord.org/job/maven-publish_{pkg} | :hammer: | |
| mvn-pkg       | [x](https://mvnrepository.com/artifact/org.opencord/{pkg} | :hammer: | |
| mvn-api       | [x](https://mvnrepository.com/artifact/org.opencord/{pkg}-api | :hammer: | |
| mvn-app       | [x](https://mvnrepository.com/artifact/org.opencord/{pkg}-app | :hammer: | |
