
## Maven artifacts

| Task | Status | URL | Notes |
| ---- | ------ | --- | ----- |
| jenkins-iinit | :hammer: | [x](https://jenkins.opencord.org/job/onos-app-release)           | |
| jenkins-stage | :hammer: | [x](https://jenkins.opencord.org/job/maven-publish_{pkg})        | |
| mvn-pkg       | :hammer: | [x](https://mvnrepository.com/artifact/org.opencord/{pkg})       | |
| mvn-api       | :hammer: | [x](https://mvnrepository.com/artifact/org.opencord/{pkg}-api)   | |
| mvn-app       | :hammer: | | [x](https://mvnrepository.com/artifact/org.opencord/{pkg}-app) | |
